* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav {
    background-color: purple;
    color: pink;
    display: flex;
}

.nav a {
    align-items: center;
}

.main-nav {
    display: flex;
    justify-content: center;
    background-color: purple;
    color: pink;
    display: flex;
}

.bio {
    font-size:2rem;
    font-weight: 100;
    color: white;
    font-style:normal;
}

.edu {
    font-size: 2rem;
    font-weight: 100;
    color: white;
    font-style:normal;
}
.exp {
    font-size: 2rem;
    font-weight: 100;
    color: white;
    font-style:normal;
}

.contact {
    font-size: 2rem;
    font-weight: 100;
    color: white;
    font-style:normal;
}

.main-nav li:hover {
    background-color:darksalmon;
}